<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sahibinden hayalinizdeki ev</title>
    <!-- google fonts -->
    <link href="../../../../../../css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/web/assets/css/style-liberty.css">
</head>
 
