@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h4>Biz kimiz bilgisi güncelle</h4>
                <form method="post">
                    <input type="hidden" asp-for="ServiceID" />
                    <label>Ad</label>
                    <input type="text" asp-for="ServiceName" class="form-control" />
                    <br />
                    <label>Statü</label>
                    <div class="d-flex align-items-center">
                        <div class="form-check form-check-inline">
                            <input type="radio" asp-for="ServiceStatus" class="form-check-input" id="statusActive" value="true" />
                            <label class="form-check-label" for="statusActive">Aktif</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" asp-for="ServiceStatus" class="form-check-input" id="statusPassive" value="false" />
                            <label class="form-check-label" for="statusPassive">Pasif</label>
                        </div>
                    </div>
                    <br />

                    <button class="btn btn-primary">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>


